@charset "utf-8";
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Stylesheet: main.css        | Version: 5.01
    Author:     DNC Thomas      | March 2026
    -------------------------------------------
    Last edit:  2026-08-11 09:47:48
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.customGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "ftp reload" "errors errors" "sql sql";
    gap: var(--rowGap) var(--colGap);
}

@media ( max-width: 750px) {
    .customGrid {
        grid-template-columns: 1fr;
        grid-template-areas: "ftp" "reload" "errors" "sql";
    }
}

.commentGrid {  /* Move to common stylesheet */
    display:grid;
    grid-template-columns: 5em 1fr;
    gap: calc(var(--rowGap) / 2) var(--colGap);
    margin-top: 1vh;
    align-items:baseline;
    & * {margin:0;}
    & input {
        border-radius: 1em;
        padding: .3em 1em;
        border:thin solid var(--color5);
        cursor:text;
        background: var(--color9);
    }
}

.statusBar {    /* Move to common stylesheet */
    border: thin solid var(--color5);
    background: var(--color9);
    padding: .3em 1em .3em 9em;
    width:100%;
}

#logcontent {
    border: thin solid var(--color5);
    padding: .5vh 1vw;
    max-height: 20em;
    overflow: auto;
}

.statusBar:before { /* Move to common stylesheet */
    text-align: left;
    font-style: italic;
    font-size: 90%;
    baseline-shift: center;
    margin-left: -9.5em;
    color: var(--color7);
}


