@charset "utf-8";
/*	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 	Resource:	main.css        | Version: 5.0.0
 	Author:		DNC Thomas      | November 2025
    Created:    2025-11-26 15:33:28
 	Last Edit:  2025-10-03 15:19:34
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 	Role:	All public website global styles
 	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*	~~~~~~~~~~ Stylesheet Variables ~~~~~~~~~~~
 	Generally you chould only change values 
    here to affect the whole site	
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

    html {
    --pageWidth: 1200;
    --rowGap: 2vh;
    --colGap: 1vw;
    --ledOff: darkslategrey;
}
/*  End of user editable variables

/*  Modifications to w3v5.css   ~~~~~ */
.w3-stretch {
    margin: 0 -1vw;
    padding: 0 1vw;
}

.w3-button { border-radius: 1.5em; padding: .375em 1em; }
.ows-menu .w3-button { padding: 8px 16px;}

.w3-card, .w3-card-2 { box-shadow: var(--shadow1); }

.w3-modal-content {
    /*  This centers modal popups */
    position:fixed;
    margin: 0;
    top: 50%;
    left: 50%;
    padding-top: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media (max-width: 600px) { .w3-modal-content { margin:0; max-width:95%; min-width:90%!important;}}
@media (max-width: 768px) { .w3-modal-content { max-width: 80%!important; min-width:70%!important;}}
@media (max-width: 993px) { .w3-modal-content { max-width: 75%;}}

.w3-container, .w3-panel { padding: 0 1vw ; padding-bottom:1vh}

.w3-dropdown-content  {min-width:18em; padding: .5vh .5vw;}

.w3-small { font-size: 90%;}
.w3-tiny { font-size: 80%;}

/*  End of w3v5 modifications */

html, body {
    font-family: Inter, serif;
    font-size: clamp(0.8125rem, 0.7188rem + 0.375vw, 1rem); /* 13 to 16px */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Red Rose', Inter, serif;
    margin:0;
}

h1 {font-size: 220%;}
h2 {font-size: 150%;}
h3 {font-size: 137.5%;}
h4 {font-size: 125%;}
h5 {font-size: 100%;}
h6 {font-size: 87.5%;}

input:focus, select:focus { outline: 0; background: inherit;}    /* Removes focus highlight from ALL input fields */

a:hover { text-decoration:none;}
.pageWidth {
    max-width: calc( var(--pageWidth) * 1px);
    margin: auto;
}

#subBanner {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-areas:"logo siteInfo" "menu menu";
    grid-template-rows: auto calc( 1.6em + 12px);
}

#siteLogo { grid-area: logo; align-self: end; padding: 1vh 0 .5vh 0;}

#siteInfo {
    grid-area: siteInfo;
    display: grid;
    grid-template-columns: 1fr 9em;
    grid-template-areas: "siteName siteName";
    gap: 0;
    text-align: right;
    font-size:80%;
    & * {
        margin: 0;
        padding-right: 0.5em;
    }
}

#Content { position: relative; overflow: scroll; }

#subContent {
    /*  Temp    */
    border:none;
}

#subFooter {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2em;
    gap:1em; 
    align-items:end;
    & p {
        font-size: 90%;
        font-style:italic;
        color: var(--color1);
    }
    & h5 {
        text-align: right;
        color: var(--color1);
    }
}

.tagline { font-style: italic;}
.no-shadow { box-shadow:none!important;}
.ows-image-small { width:1.2em; height: auto;} /* Use to adjust size of up/down/steady images */
.ows-at:before { content: "@"; padding: 0 .3em; font-size: 80%; text-align: baseline;}

/*  ~~~~    TITLE BARS  ~~~~*/
.ows-titleFlex {
    /* Any number of items as long as the fit on one row  */
    display:flex;
    justify-content: space-between;
    align-items:baseline;
    column-gap: var(--colGap);
    margin-bottom: 1vh;
    > .ows-btnBar {
        margin-bottom: 0;
    }
}

.ows-titleFlex * {
    margin:0;
}

/*  ~~~~~  BUTTON BARS  ~~~~~*/
.ows-btnBar {
    display: flex;
    justify-content: space-between;
    gap: var(--colGap) calc( var(--rowGap) / 2);
    flex-flow:row wrap; 
    align-items: baseline;
    margin-bottom:1vh;
}
.ows-btnBar > div,
.ows-btnBar > button {
    flex-grow:1;
}

.ows-btnBar > p { margin:0;}

.ows-btnBar > div.w3-button,
.ows-btnBar >button.w3-button {
    padding: 4px 1.5em;
    border: 1px solid var(--color5);
}

.ows-btnBar > div.w3-button:hover {
    background: var(--gradient-up);
    color: var(--color2)!important;
}
.ows-btnBar > i {padding: 0 0.5vw}


/*  ~~~~    THE GULLS   ~~~~*/
#Gull1 {
    position: absolute;
    bottom: 0px;
    right: 3%;
    width: 9vw;
    min-width: 70px;
    max-width: 120px;
    height: auto;
    z-index: -200;
    transform-origin: bottom center;
}

@keyframes gull-FadeIn {
    0% {opacity:0}
    100% {opacity: 1}
}

@keyframes gull-GrowUp {
    0% {transform: scale(0%)};
    100% {transform: scale(100%)};
}

@keyframes gull-SlideIn-from-Left {
    0% { right: 105%; opacity:0; transform: scale(10%);}
    100% { right: 3%; opacity:1; transform: scale(100%);}
}

@keyframes gull-SlideIn-from-Right {
    0% { right: -5%; opacity:0; transform: scale(10%);}
    100%{ right: 3%; opacity:1; transform: scale(100%);}
}

@keyframes gull-Drop {
    0% { bottom: 100%; opacity: 0.1; transform: scale(10%);}
    95% { bottom: 0; opacity: 1; transform: scale(110%);}
    100% {transform: scale(100%);}
}

#Gull2 {
    position:absolute;
    top:3.1em;
    right: 20px;
    height: 5em;
    width:auto;
}

@media (max-width: 1400px) {
    #Gull2 {
         animation: gull2-fade 1s forwards;
    }
}

@keyframes gull2-fade {
    0% { opacity:100%;}
    100% { opacity: 0;}
}

/*  ~~~~    THE MENUS   ~~~~*/
    .menuGrid {
        display: grid;
        grid-template-rows: auto;
        align-items: baseline;
    }
    #mnuSettings,
    #menuSettingsmo { 
        margin-left: -450px;
        max-width: 800px;
        width: 90vw;
    }

    .megaMenuGrid {
        display:grid; 
        grid-template-rows: repeat(6, 1fr); 
        gap: 0 1vw;
        align-items:baseline;
        grid-auto-flow: column;
    }
    @media (max-width: 920px) {
        #mnuSettingsmo { margin-left:0;}
    }
    @media (max-width: 600px) {
        .megaMenuGrid {
            grid-template-rows: repeat(9, 1fr);
        }
    }

#MainMenu     {grid-area: menu; border-top: 1px solid var(--color1)}

#MobileMenu  {display: none; width: 100%; right: 0; }

#MainMenu .w3-button,
#MobileMenu .w3-button {
    border-radius: 0;
}

.menuIcon {
    float:right;
    margin-bottom:-0.5em;
    padding-left:0.5em;
}

.mnuDivider {
    height: 2px!important;
    background: var(--color2);
    padding:0!important;
}

/*  ~~~~~   LEDs    ~~~~  */
.ows-led {display:inline-block;
	background-color: var(--ledOff);
	box-shadow: inset 2px 2px 4px rgba(240, 240, 240, 0.7),inset -2px -2px 4px rgba(32, 32, 32, 0.7);
    -webkit-box-shadow: inset 2px 2px 4px rgba(240, 240, 240, 0.7),inset -2px -2px 4px rgba(32, 32, 32, 0.7);
    -moz-box-shadow: inset 2px 2px 4px rgba(240, 240, 240, 0.7),inset -2px -2px 4px rgba(32, 32, 32, 0.7);
	/*border: 3px solid grey;*/
	width: 1.6rem;
	height: 1.6rem;
	/*margin: 0 0.5vw -0.3em 0.25vw;*/
	
    &.ows-brick   { width: 1.6rem; height: 0.8rem; margin-bottom:0;    }
    &.ows-oval    { width: 1.6rem; height: 0.8rem; margin-bottom:0; border-radius: 0.4rem; }
    &.ows-lozenge { width: 1.6rem; height: 0.8rem; margin-bottom:0; border-radius: 50%; }
    &.ows-round   { border-radius:50%; }
    &.ows-small   { width:1rem; height:1rem; }
    &.ows-diamond { 
        transform: scale(65%) rotate(45deg);
        -webkit-transform: scale(65%) rotate(45deg);
        -moz-transform: scale(65%) rotate(45deg);
    }
}

.ows-led-on {
	animation: pulseRed 1.5s infinite;
    cursor: pointer;
}

@keyframes pulseRed {
	0%, 100% { 
        background-color: var(--ledOff); 
        box-shadow: inset 2px 2px 4px rgba(240, 240, 240, 0.7),inset -2px -2px 4px rgba(32, 32, 32, 0.7);
        -webkit-box-shadow: inset 2px 2px 4px rgba(240, 240, 240, 0.7),inset -2px -2px 4px rgba(32, 32, 32, 0.7);
        -moz-box-shadow: inset 2px 2px 4px rgba(240, 240, 240, 0.7),inset -2px -2px 4px rgba(32, 32, 32, 0.7);
    }
	20%, 70% { 
        background-color: #F44; 
        box-shadow:inset 2px 2px 4px rgba(240, 240, 240, 0.7),inset -2px -2px 4px rgba(32, 32, 32, 0.7), 0 0 14px 1px rgba(109, 25, 25, 1);
        -webkit-box-shadow:inset 2px 2px 4px rgba(240, 240, 240, 0.7),inset -2px -2px 4px rgba(32, 32, 32, 0.7), 0 0 14px 1px rgba(109, 25, 25, 1);
        -moz-box-shadow:inset 2px 2px 4px rgba(240, 240, 240, 0.7),inset -2px -2px 4px rgba(32, 32, 32, 0.7), 0 0 14px 1px rgba(109, 25, 25, 1);
    }
}

/*  ~~~~~   DATA ROWS  ~~~~~  */
/*  Using a GRID */
.ows-dataRowGrid {
    display: grid;
    grid-template-columns: 1fr minmax(5em,7em);
    grid-template-rows: auto;
    gap: 0 0;
    align-items:stretch;
    /*margin-top: 0.5vh;*/
    &.threeC { grid-template-columns:11em 5.5em 1fr; }
    &.fiveC { grid-template-columns: 1fr repeat(2, 5em 6em); }
    & p {
        margin: .1em 0;
        padding: .2vh 0;
        border-bottom:thin dotted var(--color5);
        font-weight: 400;
    }
    & p:nth-of-type(even) { text-align: right;}
    & p:nth-of-type(2n + 3) { padding-left: 1vw;}
    & .ignore {
        display:contents; border:thin dotted var(--color5);
    }
    & .ignore p { font-weight: 400;}
    & .ignore p:first-of-type { margin-left: -1vw; padding-left: 1vw;}
    & .ignore p:nth-child(2n + 2) { text-align: right; }
    & .ignore p:nth-child(2n + 3) { padding-left: 1vw;}
    /*& .ignore p:nth-child(n + 4) {text-align: right;}*/
    & .ignore p:last-of-type { margin-right: -1vw; padding-right: 1vw;}
    & .ignore:hover p {
        background: var(--gradient-databar);
        font-weight: 500;
    }
}

/*  Using a FLEXBOX */
.ows-dataRowFlex,
.ows-dataRowFlex-Head {
    display:flex;
    justify-content:space-between;
    column-gap: 0;
    margin: 0.4vh -1vw 0.4vh -1vw;
    padding:0.2em 1vw 0.2em 1vw;
    border-bottom: thin dotted var(--color5);
    & p { margin:0;}
}

.ows-dataRowFlex-Head { font-weight: 700; border-bottom:1px solid var(--color5); margin: 0 -1vw;}
    
.ows-dataRowFlex:hover {
    background: var(--gradient-databar);
    font-weight:500;
}

/*	~~~~~~~	  GRIDS   ~~~~~~~*/
.ows-grid {
    display:grid;
    grid-gap: var(--rowGap) var(--colGap);
    margin-bottom: var(--rowGap);
    --space: calc( ( var(--pageWidth) * 1px ) - var(--colGap) );
    &.col7 {  --min-size: calc( var(--space) / 8 ); }
    &.col6 {  --min-size: calc( var(--space) / 7 ); }
    &.col5 {  --min-size: calc( var(--space) / 6 ); }
    &.col4 {  --min-size: calc( var(--space) / 5 ); }
    &.col3 {  --min-size: calc( var(--space) / 4 ); }
    &.col2 {  --min-size: calc( var(--space) / 3 ); }
    &.col1 {
        --min-size: 100%;
    };
	grid-template-columns: repeat( auto-fill, minmax( var(--min-size), 1fr ));
    grid-template-rows:auto;
    grid-auto-rows:minmax(1em, auto);
}

/*  ~~~~~~  FLEXBOXES    ~~~~~*/
/*  Styles for basic layout */
.ows-flex {
    display:flex;
    gap: var(--rowGap) var(--colGap);
    margin-bottom: var(--rowGap);
    /*justify-content: stretch;*/
    flex-flow: row wrap;
    --space: calc( ( var(--pageWidth) * 1px ) - var(--colGap));
    & > div {
        flex:1;
        min-height: 1em;
    }
    &.col7 > div { flex-basis: calc( var(--space) / 8); flex-grow:1; }
    &.col6 > div { flex-basis: calc( var(--space) / 7); flex-grow:1; }
    &.col5 > div { flex-basis: calc( var(--space) / 6); flex-grow:1;}
    &.col4 > div { flex-basis: calc( var(--space) / 5); flex-grow:1;}
    &.col3 > div { flex-basis: calc( var(--space) / 4); flex-grow:1; }
    &.col2 > div { flex-basis: calc( var(--space) / 3); flex-grow:1;}
    &.col1 > div { min-width: 100%; } /* Not to be used */
}
/*  Fixed width boxes */
.ows-fixed {
    justify-content:space-around;
    &.ows-flex.col7 > div, &.ows-flex-ns.col7 > div { max-width: calc( ( var(--pageWidth) * 1px - (var(--colGap) * 6)) / 7);}
    &.ows-flex.col6 > div, &.ows-flex-ns.col6 > div { max-width: calc( ( var(--pageWidth) * 1px - (var(--colGap) * 5)) / 6); }
    &.ows-flex.col5 > div, &.ows-flex-ns.col5 > div { max-width: calc( ( var(--pageWidth) * 1px - (var(--colGap) * 4)) / 5); }
    &.ows-flex.col4 > div, &.ows-flex-ns.col4 > div { max-width: calc( ( var(--pageWidth) * 1px - (var(--colGap) * 3)) / 4); }
    &.ows-flex.col3 > div, &.ows-flex-ns.col3 > div { max-width: calc( ( var(--pageWidth) * 1px - (var(--colGap) * 2)) / 3); }
    &.ows-flex.col2 > div, &.ows-flex-ns.col2 > div { max-width: calc( ( var(--pageWidth) * 1px - (var(--colGap))) / 2); }
}
/*  Growing Flexbox individual divs */
.ows-flex.col7.ows-fixed .ows-growX2,
.ows-flex-ns.col7.ows-fixed .ows-growX2 {
    max-width: calc( var(--pageWidth) * 1px / 7 * 2 - var(--colGap) );
}
.ows-flex.col6.ows-fixed .ows-growX2,
.ows-flex-ns.col6.ows-fixed .ows-growX2 {
    max-width: calc( var(--pageWidth) * 1px / 3 - var(--colGap));
}
.ows-flex.col5.ows-fixed .ows-growX2,
.ows-flex-ns.col5.ows-fixed .ows-growX2 {
    max-width: calc( var(--pageWidth) * 1px / 5 * 2 - var(--colGap));
}
.ows-flex.col4.ows-fixed .ows-growX2,
.ows-flex-ns.col4.ows-fixed .ows-growX2 {
    max-width: calc( var(--pageWidth) * 1px / 2 - var(--colGap) );
}
.ows-flex.col3.ows-fixed .ows-growX2,
.ows-flex-ns.col3.ows-fixed .ows-growX2 {
    max-width: calc( var(--pageWidth) * 1px / 3 * 2 - var(--colGap));
}
.ows-flex.col2.ows-fixed .ows-growX2,
.ows-flex-ns.col2.ows-fixed .ows-growX2 {
    max-width: calc( var(--pageWidth) * 1px);
}
.ows-flex.col7.ows-fixed .ows-growX3,
.ows-flex-ns.col7.ows-fixed .ows-growX3 {
    max-width: calc( var(--pageWidth) * 1px / 7 * 3 - (var(--colGap) * 2));
}
.ows-flex.col6.ows-fixed .ows-growX3,
.ows-flex-ns.col6.ows-fixed .ows-growX3 {
    max-width: calc( var(--pageWidth) * 1px / 2 - (var(--colGap) * 2));
}
.ows-flex.col5.ows-fixed .ows-growX3,
.ows-flex-ns.col5.ows-fixed .ows-growX3 {
    max-width: calc( ( var(--pageWidth) * 1px ) / 5 * 3 - (var(--colGap) *2 ));
}
.ows-flex.col4.ows-fixed .ows-growX3,
.ows-flex-ns.col4.ows-fixed .ows-growX3 {
    max-width: calc( ( var(--pageWidth) * 1px) / 4 * 3 - (var(--colGap) * 2 ));
}
.ows-flex.col7.ows-fixed .ows-growX4,
.ows-flex-ns.col7.ows-fixed .ows-growX4 {
    max-width: calc( ( var(--pageWidth) * 1px) / 7 * 4 - (var(--colGap) * 3 ));
}
.ows-flex.col6.ows-fixed .ows-growX4,
.ows-flex-ns.col6.ows-fixed .ows-growX4 {
    max-width: calc( ( var(--pageWidth) * 1px) / 6 * 4 );
}
.ows-flex.col5.ows-fixed .ows-growX4,
.ows-flex-ns.col5.ows-fixed .ows-growX4 {
    max-width: calc( (var(--pageWidth) * 1px) / 5 * 4 );
}
/*  ~~~~~   Main Panel animations. ~~~~~  */
/* Few animations have been added to the site but they are still available
   This is to make the site more accessible.  Add any of the following
   style animations to any element as required.
   To add your own a good place to start is animista.net */
.ows-animate-slideLTR {
    transform-origin: top left;
    animation: slideSideways 2s;
}
@keyframes slideSideways {
    0%   { scale:  10% 1;}
    100% { scale: 100% 1;}
}
.ows-animate-slideRTL {
    transform-origin: top right;
    animation: slideSideways 1s;
}

.ows-animate-slideUp {
    transform-origin: bottom center;
    animation: slideVertical 1s;
}
@keyframes slideVertical {
    0%  { scale: 1 10%; }
    100% { scale: 1 100%;}
}
.ows-animate-slideDown {
    transform-origin: top center;
    animation: slideVertical 1s;
}

.ows-animate-entryOne {
    transform-origin: top center;
    animation: entryOne 1s;
}
@keyframes entryOne {
    0% { translate: 0 3em ;scale: 1 .1; opacity: .1;}
    20% { scale: 1 1; }
    80% { translate: 0 0;}
    100% { opacity: 1;}
}

.ows-animate-fadeIn {
    transform-origin: top center;
    animation: FadeIn 1.0s;
}
@keyframes FadeIn {
    0% { opacity: 0; scale: .3 .3}
    100% { opacity: 1; scale: 1 1};
}