*.dll
*.exe
*.exe.config
*.pdb
updates.txt
.vscode/
hash_md5*.txt
*.runtimeconfig.json
*.dll.config
*.deps.json
runtimes/
CHANGELOG.md
interface/ai2/.ows/*
interface/ai2/.ows/dailydata.html
interface/ai2/.ows/js/dailydata.js
