@charset "utf-8";
/*	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *	Theme:	Dark Marsala		(#955251)	v3.0.1
 *	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * 	Designed for:	CMX AI 					v2.0.1
 *	&				CMX Default website		v3.0.0
 *	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *	Author:		DNC Thomas
 *	Last edit:	11/09/2023 10:26
 *	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*  Theme colour variables	*/
:root {
	--sub5: #f9f4f4;
	--sub4: #ebdbdb;
	--sub3: #d8b7b6;
	--sub2: #c49292;
	--sub1: #b06e6d;
	--theme: #955251;
	--add1: #864948;
	--add2: #774140;
	--add3: #683938;
	--add4: #5a3130;
	--add5: #4b2928;
	--modal: rgba(149, 82, 81, 0.3);
}

/*  Theme colour combinations (Foreground / Background)	*/
.ow-theme-add5	{color: var(--sub5); background-color: var(--add5);}
.ow-theme-add4	{color: var(--sub5); background-color: var(--add4);}
.ow-theme-add3	{color: var(--sub5); background-color: var(--add3);}
.ow-theme-add2	{color: var(--add5); background-color: var(--add2);}
.ow-theme-add1	{color: var(--add5); background-color: var(--add1);}
.ow-theme	  	{color: var(--add5); background-color: var(--theme);}
.ow-theme-sub1	{color: var(--add5); background-color: var(--sub1);}
.ow-theme-sub2	{color: var(--add5); background-color: var(--sub2);}
.ow-theme-sub3	{color: var(--add5); background-color: var(--sub3);}
.ow-theme-sub4	{color: var(--add5); background-color: var(--sub4);}
.ow-theme-sub5	{color: var(--add5); background-color: var(--sub5);}

.ow-theme-action {color: var(--sub3); background-color: var(--add3);}

/*	heme colour combinations for HOVER effects (Foreground / Background)	*/
.ow-theme-add5-hvr:hover	{color: var(--sub5); background-color: var(--add5);}
.ow-theme-add4-hvr:hover	{color: var(--sub5); background-color: var(--add4);}
.ow-theme-add3-hvr:hover	{color: var(--sub5); background-color: var(--add3);}
.ow-theme-add2-hvr:hover	{color: var(--sub5); background-color: var(--add2);}
.ow-theme-add1-hvr:hover	{color: var(--add5); background-color: var(--add1);}
.ow-theme-hvr:hover 		{color: var(--add5); background-color:var(--theme); }
.ow-theme-sub1-hvr:hover	{color: var(--add5); background-color: var(--sub1);}
.ow-theme-sub2-hvr:hover	{color: var(--add5); background-color: var(--sub2);}
.ow-theme-sub3-hvr:hover	{color: var(--add5); background-color: var(--sub3);}
.ow-theme-sub4-hvr:hover	{color: var(--add5); background-color: var(--sub4);}
.ow-theme-sub5-hvr:hover	{color: var(--add5); background-color: var(--sub5);}

.ow-theme-action-hvr:hover	{color: var(--add3); background-color: var(--sub3);}

/*	Theme TEXT only colours	*/
.ow-theme-add5-txt	{color: var(--add5);}
.ow-theme-add4-txt	{color: var(--add4);}
.ow-theme-add3-txt	{color: var(--add3);}
.ow-theme-add2-txt	{color: var(--add2);}
.ow-theme-add1-txt	{color: var(--add1);}
.ow-theme-txt		{color: var(--theme);}
.ow-theme-sub1-txt	{color: var(--sub1);}
.ow-theme-sub2-txt	{color: var(--sub2);}
.ow-theme-sub3.txt	{color: var(--sub3);}
.ow-theme-sub4-txt	{color: var(--sub4);}
.ow-theme-sub5-txt	{color: var(--sub5);}

/*	Theme TEXT only HOVER colours	*/
.ow-theme-add5-txt-hvr:hover	{color: var(--add5);}
.ow-theme-txt-hvr:hover			{color: var(--theme);}
.ow-theme-sub5-txt-hvr:hover	{color: var(--sub5);}

/*	Theme BORDER only colours	*/
.ow-theme-add5-bdr	{border-color: var(--add5);}
.ow-theme-add4-bdr	{border-color: var(--add4);}
.ow-theme-add3-bdr	{border-color: var(--add3);}
.ow-theme-add2-bdr	{border-color: var(--add2);}
.ow-theme-add1-bdr	{border-color: var(--add1);}
.ow-theme-bdr		{border-color: var(--theme);}
.ow-theme-sub1-bdr	{border-color: var(--sub1);}
.ow-theme-sub2-bdr	{border-color: var(--sub2);}
.ow-theme-sub3-bdr	{border-color: var(--sub3);}
.ow-theme-sub4-bdr	{border-color: var(--sub4);}
.ow-theme-sub5-bdr	{border-color: var(--sub5);}

/*	Theme BORDER only HOVER colours	*/
.ow-theme-add5-bdr-hvr:hover	{border-color: var(--add5); }
.ow-theme-bdr-hvr:hover 		{border-color: var(--theme);}
.ow-theme-sub5-bdr-hvr:hover	{border-color: var(--sub5);}

/*	Theme Modal Window Background	*/
.ow-theme-modal {
	background-color: var(--theme);
	background-color: var(--modal);
}
