/*
    CSS overrides for Cumulus UI
    Last modified: 2023/05/10 15:15:50
*/

body {
    padding-top: 60px;
}

.top-buffer { margin-top:40px; }

.dropdown-menu { background-color: #222222;}
.dropdown-menu>li>a { color: #FFFFFF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #000000}

.datepicker.dropdown-menu { background-color: #dddddd;}

/* Increase navigation menu contrast */
.navbar-inverse .navbar-nav>li>a {
    color: #28e1ff;
}

.navbar-inverse .navbar-nav>li>a {
    color: #28e1ff;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>a {
    color: #28e1ff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a {
    color: #3fff3c;
    background-color: #080808;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #3fff3c;
    background-color: #080808;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #3fff3c;
    background-color: #080808;
}
/* End increase navigation menu contrast */


/* Bootstrap/Alpaca overrides */
.help-block {
    font-size: 13px !important;
    padding-left: 20px !important;
    color: #00005099 !important;
    font-style: italic;
    font-weight: 600;
}
.glyphicon-info-sign {
    color: #00005099 !important;
}

.alpaca-field {
    color: #222;
}

.alpaca-field .alpaca-invalid {
    color:red;
}

.alpaca-message{
    color: red !important;
    font-size: 14px !important;
}

.hideme {
    visibility: hidden;
    width: 0px;
    height: 0px;
    display: flex;
}
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label,
.has-error .form-control,
.has-error .form-control:focus,
.has-error .input-group-addon {
    color: #ff0500;
    border-color: #ca2e2b;
}

.highcharts-data-table > table {
    background-color:white;
}
.highcharts-data-table > table > caption {
    background-color:white;
    color: #000;
    font-weight: bold;
}
.highcharts-data-table th, .highcharts-data-table td {
    padding-left: 3px;
    padding-right: 3px;
    text-align: right;
}
.highcharts-data-table th {
    background-color: rgb(214, 214, 214)
}