/*
    CSS overrides for Cumulus UI
    Last modified: 2021/02/15 22:44:57
*/

body {
    padding-top: 60px;
}

.top-buffer { margin-top:40px; }

.dropdown-menu { background-color: #222222;}
.dropdown-menu>li>a { color: #FFFFFF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #000000}

.datepicker.dropdown-menu { background-color: #dddddd;}

/* Increase navigation menu contrast */
.navbar-inverse .navbar-nav>li>a {
    color: #28e1ff;
}

.navbar-inverse .navbar-nav>li>a {
    color: #28e1ff;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>a {
    color: #28e1ff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a {
    color: #3fff3c;
    background-color: #080808;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #3fff3c;
    background-color: #080808;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #3fff3c;
    background-color: #080808;
}
/* End increase navigation menu contrast */
