body {
    padding-top: 60px;
}
.alarmsContainer {
    width: 1300px;
}
.top-buffer { margin-top:40px; }
.alpaca-field-table table tr td .alpaca-field, .alpaca-field-table table tr td .alpaca-field .form-control, table.dt-rowReorder-float tr td .alpaca-field, table.dt-rowReorder-float tr td .alpaca-field .form-control {
    min-width: 20px;
}
.alpaca-field-table .alpaca-control.checkbox, table.dt-rowReorder-float .alpaca-control.checkbox {
    padding: 0;
}
.alpaca-form-buttons-container {
    text-align: center;
}
.form-control {
    padding: 3px 3px;
}
select option {
    color: white;
    background-color: #333
}
/* Enabled */
.table > thead > tr > th:nth-of-type(1) {
    width: 25px;
    min-width: 25px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}
/* Alarm Name */
.table-striped > thead > tr > th:nth-of-type(2) {
    min-width: 140px;
}
/* Web tags */
.table > thead > tr > th:nth-of-type(3) {
    min-width: 100px;
}
/* Type */
.table > thead > tr > th:nth-of-type(4) {
    min-width: 90px;
}
/* Value */
.table > thead > tr > th:nth-of-type(5) {
    width: 60px;
    min-width: 60px;
}
/* Email */
.table > thead > tr > th:nth-of-type(6) {
    width: 25px;
    min-width: 25px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}
/* Email Message */
.table > thead > tr > th:nth-of-type(7) {
    min-width: 150px;
}
/* Bluesky Template */
.table > thead > tr > th:nth-of-type(8) {
    min-width: 60px;
}
/* Latch */
.table > thead > tr > th:nth-of-type(9) {
    width: 30px;
    min-width: 30px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}
/* Latch Hours */
.table > thead > tr > th:nth-of-type(10) {
    width: 60px;
    min-width: 60px;
}
/* Action */
.table > thead > tr > th:nth-of-type(11) {
    min-width: 150px;
}
/* Action Params*/
.table > thead > tr > th:nth-of-type(12) {
    min-width: 150px;
}
/* Actions */
.table > thead > tr > th:nth-of-type(13) {
    text-align: center;
    width: 80px;
    min-width: 80px;
}
.table {
    margin: 0;
}
.table > thead > tr > th {
    white-space: normal !important;
    padding: 5px;
}
.table > tbody > tr > td {
    padding: 2px;
    vertical-align: middle;
}
.table-responsive {
    overflow-x: unset;
}
.table-responsive > .table-bordered {
    border: 1px solid #ddd;
}
.checkbox {
    margin: 0;
}