.report-container {
    margin: auto;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}
.report-table {
    border-collapse: collapse;
}
.report-table th {
    text-align: right;
    vertical-align: bottom;
    padding: 5px;
}
.report-table td {
    text-align: right;
    padding-bottom: 5px;
    padding-left: 15px;
}
.report-table .underline {
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}
.report-table .totals td {
    border-top: 1px solid black;
    font-weight: bold;
}
.report-container section {
    margin: 0 auto;
    width: fit-content;
}
#report-summary {
    text-align: left;
    margin-top: 20px;
}