@charset "utf-8";
/*	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * 	Theme:  dark-grey             Base colour: #7F7F7F
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *  For:   OWS websites        version: 3.1
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *  Author:     DNC THomas
 *  Last edit:  2025-08-25 18:27:54
 *  As a rule you should ONLY need to change the variables below
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*  Theme colour variables */
:root {
    --baseR: 127;
    --baseG: 127;
    --baseB: 127;

    --color9: #191919;
    --color8: #333333;
    --color7: #4c4c4c;
    --color6: #666666;
    --color5: #7f7f7f;
    --color4: #999999;
    --color3: #b2b2b2;
    --color2: #cccccc;
    --color1: #e5e5e5;
    --modal: rgba(var(--baseR), var(--baseG), var(--baseB), 0.3);
    --shadow1: 0 0.3em 0.3em -1px var(--color5);
    --shadow2: 0.2em 0.2em rgb(var(--baseR), var(--baseG), var(--baseB), 80%), 0.6em 0.6em 0.6em rgb(var(--baseR), var(--baseG), var(--baseB), 50%);

    --gradient-down: linear-gradient( 0deg, var(--color7), var(--color5));
    --gradient-up: linear-gradient( 0deg,  var(--color5), var(--color7));
    --gradient-ltr: linear-gradient( 90deg,  var(--color7), var(--color5));
    --gradient-rtl: linear-gradient( 90deg,  var(--color5), var(--color7));
}

/*	Theme colour combinations (Foreground / Background)	
    You may wish to tweek these to improve contrast; you
    should start by changing color1 to color9 and vica-versa */
.ow-theme4, .ow-theme4-hvr:hover {color: var(--color9);}
.ow-theme5, .ow-theme5-hvr:hover {color: var(--color1);}
.ow-theme6, .ow-theme6-hvr:hover {color: var(--color1);}
   
/* Gradients ~ You may wish to adjust the foreground colours used */
.ow-theme-grad-down-hvr:hover,
.ow-theme-grad-up-hvr:hover,
.ow-theme-grad-ltr-hvr:hover,
.ow-theme-grad-rtl-hvr:hover,
/* Include buttons in a btnBar*/
.ow-btnBar button:hover {color: var(--color1)!important;}
