@charset "utf-8";
/*	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * 	Theme:  dark-aurora-green     (#6ADC99)   v3.0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *  For:   ax websites
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *  Author:     DNC THomas
 *  Last edit:  29/12/2024
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*  Theme colour variables */
:root {
    --baseR: 106; --baseG: 220; --baseB: 153;
    --color9: #092916;
    --color8: #13522D;
    --color7: #1D7B44;
    --color6: #26A55A;
    --color5: #30CE71;
    --color4: #59D88D;
    --color3: #83E1AA;
    --color2: #ACEBC6;
    --color1: #D5F5E2;
    --modal: rgba(var(--baseR),var(--baseG),var(--baseB),0.3);
    --gradient-down: linear-gradient( var(--color7), var(--color6));
	--gradient-up: linear-gradient( var(--color6), var(--color7));
    --gradient-left: linear-gradient( to right,  var(--color7), var(--color6));
	--gradient-right: linear-gradient( to left, var(--color7), var(--color6));

    --gradientBar: linear-gradient(var(--color5) 0%, transparent 20%, transparent 80%, var(--color5) 100%);
    --shadow:   0 0.15em 0.3em -0.1em var(--color1);
    --shadows: 0 0.1em 0.3em 0 rgba(var(--baseR),var(--baseG),var(--baseB),0.3),0 0.1em 0.7em 0 rgba(var(--baseR),var(--baseG),var(--baseB),0.4);
}

/*	Theme colour combinations (Foreground / Background)	
    You may wish to tweek these to improve contrast; you
    should start by changing color1 to color9 and vica-versa */
.ow-theme4, .ow-theme4-hvr:hover {color: var(--color9);}
.ow-theme5, .ow-theme5-hvr:hover {color: var(--color1);}
.ow-theme6, .ow-theme6-hvr:hover {color: var(--color1);}
   
/* Gradients ~ You may wish to adjust the foreground colours used */
.ow-theme-grad-down-hvr:hover,
.ow-theme-grad-up-hvr:hover,
.ow-theme-grad-ltr-hvr:hover,
.ow-theme-grad-rtl-hvr:hover,
/* Include buttons in a btnBar*/
.ow-btnBar button:hover {color: var(--color1)!important;}
