@charset "utf-8";
/*	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * 	Theme:  field-green           Base colour: #60b922
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *  For:   OWS websites             version: 3.1
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *  Author:     DNC THomas
 *  Last edit:  2025-08-25 18:36:05
 *   As a rule you should ONLY need to change the variables below
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*  Theme colour variables */
:root {
    --baseR: 96;
    --baseG: 185;
    --baseB: 34;

    --color1: #162b08;
    --color2: #2d5610;
    --color3: #438118;
    --color4: #59ac20;
    --color5: #70d728;
    --color6: #8cdf53;
    --color7: #a9e77e;
    --color8: #c6efa9;
    --color9: #e2f7d4;
    --modal: rgba(var(--baseR),var(--baseG),var(--baseB),0.3);
    --shadow1: 0 0.3em 0.3em -1px var(--color5);
    --shadow2: 0.2em 0.2em rgb(var(--baseR), var(--baseG), var(--baseB), 80%), 0.6em 0.6em 0.6em rgb(var(--baseR), var(--baseG), var(--baseB), 50%);

    --gradient-down: linear-gradient( 0deg, var(--color7), var(--color5));
    --gradient-up: linear-gradient( 0deg,  var(--color5), var(--color7));
    --gradient-ltr: linear-gradient( 90deg,  var(--color7), var(--color5));
    --gradient-rtl: linear-gradient( 90deg,  var(--color5), var(--color7));
}

/*	Combinations colours (Foreground / Background)	
    You may wish to adjust these to improve contrast; you should start by changing color9 to color1 */
.ows-theme4, .ows-theme4-hvr:hover { color: var(--color9);}
.ows-theme5, .ows-theme5-hvr:hover { color: var(--color9);}
.ows-theme6, .ows-theme6-hvr:hover { color: var(--color1);}

/* Gradients ~ You may wish to adjust the foreground colours used */
.ows-theme-grad-down            { color: var(--color1)}
.ows-theme-grad-down-hvr:hover  { color: var(--color9)}
.ows-theme-grad-up              { color: var(--color1)}
.ows-theme-grad-up-hvr:hover    { color: var(--color9)}
.ows-theme-grad-ltr             { color: var(--color1)}
.ows-theme-grad-ltr-hvr:hover   { color: var(--color9)}
.ows-theme-grad-rtl             { color: var(--color1)}
.ows-theme-grad-rtl-hvr:hover   { color: var(--color9)}
