@charset "utf-8";
/*	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * 	Theme:  red-pear            Base colour: #7B3539
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *  For:   OWS websites         version: 3.1
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *  Author:     DNC THomas
 *  Last edit:  2025-08-25 18:35:03
 *  As a rule you should ONLY need to change the variables below
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*  Theme colour variables */
:root {
    --baseR: 114;
    --baseG: 53;
    --baseB: 57;

    --color1: #230F10;
    --color2: #471E21;
    --color3: #6A2E31;
    --color4: #8E3D42;
    --color5: #B24C52;
    --color6: #C17075;
    --color7: #D09497;
    --color8: #E0B7BA;
    --color9: #EFDBDC;
    --modal: rgba(var(--baseR),var(--baseG),var(--baseB),0.3);
    --shadow1: 0 0.3em 0.3em -1px var(--color5);
    --shadow2: 0.2em 0.2em rgb(var(--baseR), var(--baseG), var(--baseB), 80%), 0.6em 0.6em 0.6em rgb(var(--baseR), var(--baseG), var(--baseB), 50%);

    --gradient-down: linear-gradient( 0deg, var(--color7), var(--color5));
    --gradient-up: linear-gradient( 0deg,  var(--color5), var(--color7));
    --gradient-ltr: linear-gradient( 90deg,  var(--color7), var(--color5));
    --gradient-rtl: linear-gradient( 90deg,  var(--color5), var(--color7));
}

/*	Combinations colours (Foreground / Background)	
    You may wish to adjust these to improve contrast; you should start by changing color9 to color1 */
.ows-theme4, .ows-theme4-hvr:hover { color: var(--color9);}
.ows-theme5, .ows-theme5-hvr:hover { color: var(--color9);}
.ows-theme6, .ows-theme6-hvr:hover { color: var(--color1);}

/* Gradients ~ You may wish to adjust the foreground colours used */
.ows-theme-grad-down            { color: var(--color1)}
.ows-theme-grad-down-hvr:hover  { color: var(--color9)}
.ows-theme-grad-up              { color: var(--color1)}
.ows-theme-grad-up-hvr:hover    { color: var(--color9)}
.ows-theme-grad-ltr             { color: var(--color1)}
.ows-theme-grad-ltr-hvr:hover   { color: var(--color9)}
.ows-theme-grad-rtl             { color: var(--color1)}
.ows-theme-grad-rtl-hvr:hover   { color: var(--color9)}
