@charset "utf-8";
/*	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * 	Theme:  dark-warren-tavern    (#92896C)   v3.0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *  For:   a?x websites
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *  Author:     DNC THomas
 *  Last edit:  29/11/2024
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*  Theme colour variables */
:root {
    --baseR: 146; --baseG: 137; --baseB: 108;
    --color9: #1D1B15;
    --color8: #3A362B;
    --color7: #585240;
    --color6: #756D56;
    --color5: #92896C;
    --color4: #a8a089;
    --color3: #beb8a6;
    --color2: #d3cfc4;
    --color1: #e9e7e1;
    --modal: rgba(var(--baseR),var(--baseG),var(--baseB),0.3);
    --gradient-down: linear-gradient( var(--color7), var(--color6));
	--gradient-up: linear-gradient( var(--color6), var(--color7));
    --gradient-left: linear-gradient( to right,  var(--color7), var(--color6));
	--gradient-right: linear-gradient( to left, var(--color7), var(--color6));

    --gradientBar: linear-gradient(var(--color5) 0%, transparent 20%, transparent 80%, var(--color5) 100%);
    --shadow:   0 0.15em 0.3em -0.1em var(--color1);
    --shadows: 0 0.1em 0.3em 0 rgba(var(--baseR),var(--baseG),var(--baseB),0.3),0 0.1em 0.7em 0 rgba(var(--baseR),var(--baseG),var(--baseB),0.4);
}

/*	Theme colour combinations (Foreground / Background)	
    You may wish to tweek these to improve contrast; you
    should start by changing color1 to color9 and vica-versa */
.ax-theme4	{color: var(--color9); background-color: var(--color4);}
.ax-theme5	{color: var(--color1); background: var(--color5);}
.ax-theme6	{color: var(--color1); background-color: var(--color6);}

.ax-theme4-hvr:hover	{color: var(--color9); background-color: var(--color4);}
.ax-theme5-hvr:hover	{color: var(--color1); background-color: var(--color5);}
.ax-theme6-hvr:hover 	{color: var(--color1); background-color: var(--color6);}
 
.ax-btn-gradient-left { color:var(--color1); background: var(--gradient-left); border: thin solid var(--color5)!important;}
.ax-btn-gradient-right { color:var(--color1); background: var(--gradient-right);border:thin solid var(--color5)!important;}
.ax-btn-gradient-down { color:var(--color1); background: var(--gradient-down); border: thin solid var(--color5)!important;}
.ax-btn-gradient-up { color:var(--color1); background: var(--gradient-up);border:thin solid var(--color5)!important;}
